div.artisan-page {
  min-height: 100vh;
  padding-top: 20px;

  width: 100vw;
  text-align: left;
  align-self: stretch;
  //   background: cornflowerblue;

  div.artisan-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    gap: 20px;
    align-self: stretch;

    div.artisan-page-top {
      padding-inline: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      height: max-content;
      justify-content: space-between;

      div.artisan-hamburger-menu {
        height: 62.8px;
        align-self: center;
        display: none;
      }
    }
    div.artisan-page-content {
      padding-inline: 32px;
      display: flex;
      flex-direction: row;
      position: relative;
    }
  }
}

@media (max-width: 768px) {
  div.artisan-page {
    display: flex;
    flex-direction: column;
    // padding-inline: 32px;
    div.artisan-page-container {
      div.artisan-page-top {
        display: flex;
        justify-content: space-between;
        div.artisan-hamburger-menu {
          height: 62.8px;
          align-self: center;
          display: block;
        }
      }
    }
  }
}


@media (max-width: 500px) {
  div.artisan-page {
    display: flex;
    flex-direction: column;
    // padding-inline: 32px;
    div.artisan-page-container {
      div.artisan-page-content {
        padding-inline: 16px;
        display: flex;
        flex-direction: row;
      }
      div.artisan-page-top {
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        div.artisan-hamburger-menu {
          height: 62.8px;
          align-self: center;
          display: block;
        }
      }
    }
  }
}
