div.artisan-search__bar {
  border: 1px var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  height: 50px;
  padding: 0px;
  gap: 10px;
  div.artisan-search__bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow-y: hidden;
    border-radius: 5px;
    input {
      border-radius: 5px;
      background: var(--pale-blue-grey, #f2f6ff);
      display: flex;
      width: 400px;
      height: 50px;
      padding-left: 15px;
      align-items: center;
      color: var(--primary-text-color);

      font-size: 16px;
    }

    div.artisan-search-button {
      position: absolute;
      right: 0;

      background-color: var(--primary-button-color);
      display: flex;
      height: 50px;
      padding: 10px 10px;
      width: 50px;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 700px) {
  div.artisan-search__bar {
    border: 1px var(--main-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    // max-width: 300px;
    // min-width: 300px;
    // padding-inline: 16px;
    gap: 6px;
    div.artisan-search__bar-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      position: relative;
      overflow-y: hidden;
      border-radius: 5px;
      width: 100%;
      input {
        border-radius: 5px;
        background: var(--pale-blue-grey, #f2f6ff);
        display: flex;
        width: 100%;
        height: 50px;
        padding-left: 15px;
        align-items: center;

        font-size: 14px;
      }

      div.artisan-search-button {
        position: absolute;
        right: 0;

        background-color: var(--primary-button-color);
        display: flex;
        height: 50px;
        width: 50px;
        padding: 10px 10px;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  div.artisan-search__bar {
    border: 1px var(--main-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    // padding-inline: 16px;
    gap: 6px;
    div.artisan-search__bar-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      position: relative;
      overflow-y: hidden;
      border-radius: 5px;
      width: 100%;
      input {
        border-radius: 5px;
        background: var(--pale-blue-grey, #f2f6ff);
        display: flex;
        width: 100%;
        height: 50px;
        padding-left: 15px;
        align-items: center;

        font-size: 14px;
      }

      div.artisan-search-button {
        position: absolute;
        right: 0;

        background-color: var(--primary-button-color);
        display: flex;
        height: 50px;
        width: 50px;
        padding: 10px 10px;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  div.artisan-search__bar {
    display: none;
  }
}
