.slide-show {
  animation: moveSlideshow 9s linear infinite;
  -webkit-animation: moveSlideshow 9s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

.nav-link:hover {
  color: var(--main-color);
  cursor: pointer;
  font-weight: 600;
}

.App {
  max-width: 100vw;
}
