.App {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
  width: auto;
  margin-inline: auto;
}

.auth-container {
  width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}