div.artisan-page {
        min-height: 100vh;
        width: 100vw;
        text-align: left;
      //   background: cornflowerblue;
        
  div.artisan-page-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
        gap: 20px;

        div.artisan-page-content {
          display: flex;
          flex-direction: row;
          padding-inline: 32px;
        }
  }
}
.artisan-mobile-top {
  display: none;
}

@media (max-width: 700px) {
  div.desktop-visible {
    display: none;
    background: pink;
  }
  div.artisan-mobile-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
